# Ignore Gradle project-specific cache directory
.gradle

# Ignore Kotlin project data
.kotlin

# Ignore Gradle build output directory
build

# IDEA settings
.idea/*
!.idea/codeStyles

# Application settings
**/*.properties

# Application logs
logs

# Coverage reports
reports

# FreeOffice swp files
**/*.bak