# Ignore Gradle project-specific cache directory
.gradle

# Ignore Kotlin project data
.kotlin

# Ignore Gradle build output directory
build

# IDEA settings
.idea
*/ .idea.
!**/*.idea/codeStyles

# Application settings
app.properties

logs
reports
**/*.properties